@font-face {
  font-family: "Open Sans";
  src: url("https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans");
}

html {
  font-family: "Open Sans", "Bitstream Vera Serif", Verdana, sans-serif, serif;
}


* {
  box-sizing: border-box;
}

body {
  margin: 100px;

}

.wrapper {
    display: grid;
    grid-gap: 10px;
		grid-template-columns: 33% 33% 33%;

	}

  /*For all boxes*/
	.box {
		color: #444;
		border-radius: 5px;
		padding: 20px;
		/*font-size: 150%;*/

	}





	.video-image {
    position:relative;

		grid-column: 1 ;
		grid-row: 1;

	}

	.video-info {
      position:relative;
		grid-column: 2 / 4;
		grid-row: 1;

	}
	.expanded-video {
		grid-column: 1 / 4 ;
		grid-row: 2 ;
	}
	.expanded-video-info {
		grid-column: 1 /4;
		grid-row: 3;

	}
