

body {

  margin: 200px;

}

.indent-top {
  grid-area: indent-top;

}

div .indent-top {
  background-color: white;
  color: gray;
}

.paragraph {
  grid-area: paragraph;
  position: relative;
}

.paragraph2 {
  grid-area: paragraph2;
  position: relative;
}

.paragraph3 {
  grid-area: paragraph3;
  position: relative;
}

.sub-heading {
    grid-area: sub-heading;
  position: relative;
}

.video {
  grid-area: video;
  positon:relative;
}

div .video {
 background-color: orange;
 color: white;
}

.indent-bottom {
  grid-area: indent-bottom;
  positon:relative;
}

div .indent-bottom {
  background-color: white;
  color: gray;
}


.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas:
        "header  header  header header"
        "paragraph paragraph paragraph indent-top"
        "paragraph2 paragraph2 video video"
        "paragraph3 paragraph3 paragraph3 indent-bottom"
        "sub-heading  sub-heading  sub-heading indent-bottom";
        background-color: #fff;
        color: #444;
    }

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 50px;
  font-size: 150%;
}
.header {
  background-color: #999;
}
